@font-face {
  font-family: 'Futura Book' !important;
  src: url('../assets/Futura-Book-Regular.otf');
}

.main-container-ryan {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: column;
}

.data-container-ryan {
  order: 2;
  flex: 0;
  background:linear-gradient(#C77863,#A55759);
  animation: 1s ease-out 0s 1 slideInFromLeft;
  flex:3;
}

.dock-container-ryan {
  order: 1;
  flex: .5;
  background: linear-gradient(#A55759, #724056);
}

.dashboard-container-ryan {
  order: 3;
  flex: 10;
  background-color: #FEFEFE;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings-container-ryan, .profile-container-ryan, .portfolio-container-ryan{
  order: 2;
  flex:13;
  background: linear-gradient(to left top, #724056,#E58860);
  display: flex;

}

.chart-row-container-1 {
  display: flex;
  flex: 5;
}

.chart-container-1 {
  flex: 1;
}

.chart-container-2 {
  flex: 1;
}
.chart-container-3 {
  flex: 1;
}
.chart-container-4 {
  flex: 1;
}

.chart-row-container-2 {
  display: flex;
  flex: 2;
  background: linear-gradient( to left top,#DED2CE,#EAAA8C);
}

.navbar-container-ryan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.navbar-ryan {
  padding: 5px;
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.navbar-item {
  padding-top: 15px;
}

.navbar-icon-ryan {
  width: 40px;
  height: 40px;
}

.logout-icon {
  width: 40px;
  height: 40px;
  transform: rotate(180deg);

}

.logout-a {
  padding-left: 2px;
}


.logout-container {
  display: flex;
  padding-top: 10px;
  margin: auto;
  flex-direction: column;
  padding: 5px;
  bottom: 0;

}

.navbar-item-container {
  width: 40px;
  height: 40px;
}

.lock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 220px;
}

.lock-icon {
  width: 50px;
  height: 50px;
}

.lock-input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}

.phrase-input {
  width: 200px;
  height: 45px;
  color: black;
  background-color: white;
  border:1px solid rgb(220, 213, 213);
  border-radius: 3px;
  font-size: 18px;
  font-family: 'Futura';
  padding-left: 20px;
  outline: none;
}

.error {
  border-color: #F61666;
  border-width: 2px;
}

.lock-error-message {
  color: #F61666;
  margin-top: 10px;
  font-size: 154x;
}

.img:hover {
  border: 1px solid rgb(240, 200,	115);
  /* border: 3px solid rgba(	240, 200,	115, 0.5); */
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  border-radius: 75%;
}

.active{
  border-right: 1px solid rgb(240, 200,	115);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 75%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.password-container {
  margin: auto;
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-field-container {

}

/* TODO */
/* Make only child */
.password-field-container{
  padding-top: 50px;
}

.submit-button {
  flex: 1;
  margin: 20px;
  padding: 20px;
  border-radius: 50%;
  border-color: rgb(240, 200,	115);
  background: transparent;
}

/* Material Design Text Field */
.field{
  --uiFieldPaddingTop: var(--fieldPaddingTop, 0px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 0px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 0px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 0px);

  --uiFieldBorderColor: var(--fieldBorderColor, rgb(240, 200,	115));
  --uiFieldBorderTop: var(--fieldBorderTop, 0px);
  --uiFieldBorderRight: var(--fieldBorderRight, 0px);
  --uiFieldBorderBottom: var(--fieldBorderBottom, 0px);
  --uiFieldBorderLeft: var(--fieldBorderLeft, 0px);

  --uiFieldBgColor: var(--fieldBgColor, transparent);
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #724056);
  --uiFieldAnimationDuration: var(--fieldAnimationDuration, .3s);
  --uiFieldFonstSize: var(--fieldFontSize, 16px);
  --uiFieldBorderColorActive: var(--fieldBorderColorActive,#DED2CE);

  position: relative;
  display: block;
}

.field__input{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--uiFieldBgColor);

  /* for iOS */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;

  border-style: solid;
  border-color: var(--uiFieldBorderColor);

  border-top-width: var(--uiFieldBorderTop);
  border-right-width: var(--uiFieldBorderRight);
  border-bottom-width: var(--uiFieldBorderBottom);
  border-left-width: var(--uiFieldBorderLeft);

  padding-top: var(--uiFieldPaddingTop);
  padding-right: var(--uiFieldPaddingRight);
  padding-bottom: var(--uiFieldPaddingBottom);
  padding-left: var(--uiFieldPaddingLeft);

  font-family: inherit;
  font-size: 100%;
  color: rgb(240, 200,	115);
}

.field__input::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
  opacity: 0;
}

.field__input::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
  opacity: 0;
}

.field__input:focus{
  outline: none;
}

.field__input:focus::-webkit-input-placeholder{
  -webkit-transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  opacity: 1;
}

.field__input:focus::-moz-placeholder{
  -webkit-transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  opacity: 1;
}

.field__label-wrap{
  height: 100%;
  display: block;
}

.field__label{
  position: absolute;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
  left: calc(0px + var(--uiFieldPaddingLeft) + var(--uiFieldBorderLeft));

  pointer-events: none;
  font-size: .9em;

  -webkit-transition: top var(--uiFieldAnimationDuration) cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity var(--uiFieldAnimationDuration) ease-out;

  transition: top var(--uiFieldAnimationDuration) cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity var(--uiFieldAnimationDuration) ease-out;
  will-change: top, opacity;
}

.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
  opacity: 0;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
}

.field__input:focus ~ .field__label-wrap .field__label{
  opacity: 1;
  top: calc(-1 * calc(var(--uiFieldPaddingTop) + var(--uiFieldBorderTop) + 15px));
}

.field_type2{
  --uiFieldBorderBottom: var(--fieldBorderBottom, 2px);
  --uiFieldPaddingTop: var(--fieldPaddingTop, 5px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 10px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);

}

.field_type2 .field__label-wrap:after{
  content: "";
  width: 0;
  height: var(--uiFieldBorderBottom);
  background-color: var(--fieldBorderColorActive);
  border-color: #DED2CE;

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: width;
  -webkit-transition: width var(--uiFieldAnimationDuration) ease-out;
  transition: width var(--uiFieldAnimationDuration) ease-out;
}

.field_type2 .field__input:focus ~ .field__label-wrap:after{
  width: 100%;
}
