@font-face {
  font-family: 'Futura Book';
  src: url('../assets/Futura-Book-Regular.otf');
}

.main-container-ryan {
  width: 100vw;
  height: 100vh; 
  display: flex; 
  flex: column;
}

.data-container-ryan {

  order: 2;
  flex: 0;
  background:linear-gradient(#C77863,#A55759);
  animation: 1s ease-out 0s 1 slideInFromLeft;
  flex:3;
}

.dock-container-ryan {
  order: 1;
  flex: .5;
  background: linear-gradient(#A55759, #724056);
}

.dashboard-container-ryan {
  order: 3;
  flex: 10;
  background-color: #FEFEFE;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings-container-ryan {
  order: 2;
  flex:13;
  background: linear-gradient(to left top, #FEFEFE,#E58860);
}

.chart-row-container-1 {
  display: flex;
  flex: 5;
}

.chart-container-1 {
  flex: 1;
}

.chart-container-2 {
  flex: 1;
}
.chart-container-3 {
  flex: 1;
}
.chart-container-4 {
  flex: 1;
}

.chart-row-container-2 {
  display: flex;
  
  flex: 2;
  background: linear-gradient( to left top,#DED2CE,#EAAA8C); 
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  
}

.navbar {
  padding: 5px; 
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.navbar-item {
  padding-top: 15px;
  flex: 1;
}

.navbar-icon {
  width: 40px;
  height: 40px;
}


.lock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 220px;
}

.lock-icon {
  width: 50px;
  height: 50px;
}

.lock-input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}

.phrase-input {
  width: 200px;
  height: 45px;
  color: black;
  background-color: white;
  border:1px solid rgb(220, 213, 213);
  border-radius: 3px;
  font-size: 18px;
  font-family: 'Futura';
  padding-left: 20px;
  outline: none;
}

.error {
  border-color: #F61666;
  border-width: 2px;
}

.lock-error-message {
  color: #F61666;
  margin-top: 10px;
  font-size: 154x;
}

img:hover {
  border: 1px solid rgb(240, 200,	115);
  border: 3px solid rgba(	240, 200,	115, 0.5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  border-radius: 75%; 
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}