@font-face {
  font-family: 'Ailerons';
  src: url('../assets/Ailerons-Typeface.otf');
}

* {
  font-family: 'Ailerons';
  color: whitesmoke;
}

.main-container-teodora {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #536976, #292E49);
}

.back-arrow-container {
  position: absolute;
  top: 50px;
  left: 50px;
}

.back-arrow-icon {
  width: 50px;
  height: 50px;
}

.landing-page-avatar-container {
  display:inline-block;
  max-width: 1000px;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
  text-align: center;
}

.landing-page-avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 10px;
}

.title {
  font-size: 65px;
  text-align: center;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.not-found-email-text {
  font-size: 42px;
  margin-top: 50px;
}

.portal-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(239,239,239,1);
}

.close-icon {
  width: 32px;
  height: 32px;
}

.lock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 220px;
}

.lock-icon {
  width: 50px;
  height: 50px;
}
.lock-input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}

.phrase-input {
  width: 200px;
  height: 45px;
  color: black;
  background-color: white;
  border:1px solid rgb(220, 213, 213);
  border-radius: 3px;
  font-size: 18px;
  font-family: 'Futura';
  padding-left: 20px;
  outline: none;
}

.error {
  border-color: #F61666;
  border-width: 2px;
}

.lock-error-message {
  color: #F61666;
  margin-top: 10px;
  font-size: 154x;
}