@font-face {
    font-family: 'Molot';
    src: url('../assets/Molot.otf');
  }
  
  * .title-wh, .subtitle-wh {
    font-family: 'Molot';
    color: #A9A9A9;
  }
  
  .main-container-wh {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/76/1f/28/761f28c9339ab10f35de5a45d99bb6e4.jpg);
    background-size: cover;
  }

  .back-arrow-container {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  
  .back-arrow-icon {
    width: 50px;
    height: 50px;
  }
  
  .avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .avatar-wh {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }
  
  .title-wh {
    font-size: 65px;
    text-align: center;
  }
  
  .link {
    text-decoration: none;
    cursor: pointer;
  }
  
  .subtitle-wh {
    font-size: 30px;
    margin-top: 20px;
  }
  
  .links-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 200px;
    justify-content: space-between;
  }
  
  .links-icon {
    width: 40px;
    height: 40px;
    background: transparent;
  }  