/*--Dock--*/

footer {
	bottom: 0;
	display: inline-block;
	height: 4.4em;
	left: 50%;
	min-width: 35em;
	padding: 0 10px;
	perspective: 1000px;
	position: absolute;
	text-align: center;
	transform: translatex(-50%);
}

footer:before {
	background: linear-gradient(to top, rgba(230, 230, 230, 1) 0%, rgba(163, 163, 163, 1) 100%);
	bottom: 0;
	content: '';
	height: 4em;
	left: 20%;
	margin-top: 15px;
	position: absolute;
	right: 0;
	top: 0;
	transform: rotatex(45deg);
	width: 60%;
	z-index: -1;
}

footer ul {
	display: inline-block;
	margin: 0 0.1em;
	padding: 0;
	transform-origin: bottom center !important;
}

footer li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	transform: scale(1.0);
	transform-origin: bottom center;
	transition: transform 2s;
	padding: 0 5px;
}

footer li:before {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 12px;
	color: #fff;
	content: attr(data-title);
	display: block;
	float: left;
	font-size: 0.9em;
	left: 50%;
	margin: 2px auto;
	opacity: 0;
	padding: 0 10px;
	position: absolute;
	text-align: center;
	top: -35px;
	transform: translatex(-50%);
	transform-origin: bottom center !important;
	visibility: hidden;
	width: auto;
}

footer li:hover:before {
	opacity: 1;
	top: -45px;
	visibility: visible;
}

.jump {
	-webkit-animation: JUMP 600ms 2 cubic-bezier(.4, 0.01, .6, .99);
}

footer img {
	-webkit-box-reflect: below -5px -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(230, 230, 230, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	margin: 0 5px;
	position: relative;
	transform: scale(1);
	transform-origin: bottom center !important;
	transition: all 0.2s;
	width: 4em;
}

footer img:hover {
	margin: 0 10px;
	transform: scale(1.2);
}

.active {
	margin: 0 10px;
	transform: scale(1.2);
}

@-webkit-keyframes JUMP {
	0% {
		bottom: 0;
	}
	50% {
		bottom: 20px;
		padding-bottom: 20px;
	}
	100% {
		bottom: 0;
	}
	;
}
